{% extends "pages/base.html" %}
{% load i18n %}



{% block title %}
    {% trans "Pages" %}
{% endblock %}



{% block breadcrumb %}
    <li>{% trans "Liste des pages" %}</li>
{% endblock %}



{% block headline %}
    <h1>{% trans "Pages" %}</h1>
{% endblock %}



{% block content %}
    <style type="text/css">
    svg{
        background-color: #084561;
    }
    </style>
    <article>
    <header>
        <h2>Créer un site web</h2>
        <p>Il y a 3 parcours pour ce thème</p>
    </header>
        <h3>Créer un site web avec python</h3>
    <svg xmlns:svg="http://www.w3.org/2000/svg"
         xmlns="http://www.w3.org/2000/svg"
         xmlns:xlink="http://www.w3.org/1999/xlink"
         width="100%" height="800px" >


        <rect width="25px" height="80%" x="15%" y="2px" fill="black" fill-opacity="0.9"></rect>
        <polygon style="fill:black" points="130,640 155,665 180,640"/>
        <text x="10%" y="85%" font-size="2em">Les bases</text>
        <text x="60%" y="85%" font-size="2em">Approfondissements</text>
        <a xlink:href="https://zestedesavoir.com/tutoriels/622/rendre-son-site-responsive-avec-css3/">
            <rect height="75px" width="35%" color="green" fill-opacity="0.8" fill="green" y="25px">

            </rect>
            <text x="12%" y="50px" text-anchor="middle" alignment-baseline="middle" max-width="75px" >Créer un site responsive</text>
            <image xlink:href="https://zestedesavoir.com/media//galleries/511/c936b4a6-3ee6-4dc4-91be-a68e5d5f69b6.jpg" x="29%" y="25px" height="75px" width="75px"/>
        </a>
        <a xlink:href="https://zestedesavoir.com/tutoriels/622/rendre-son-site-responsive-avec-css3/">
            <rect height="75px" width="35%" color="green" fill-opacity="0.8" fill="green" y="125px">

            </rect>
            <text x="12%" y="150px" text-anchor="middle" alignment-baseline="middle">Créer un site avec django</text>
            <image xlink:href="https://zestedesavoir.com/media//galleries/305/ed13b8b3-1b2e-481e-8417-d02a943abd19.png" x="29%" y="125px" height="75px" width="75px"/>
        </a>
        <a xlink:href="https://zestedesavoir.com/tutoriels/622/rendre-son-site-responsive-avec-css3/">

            <rect height="75px" width="35%" color="green" fill-opacity="0.8" fill="orange" y="225px">

            </rect>
            <text x="12%" y="250px" text-anchor="middle" alignment-baseline="middle">Rendez votre site web
                <tspan dy="1em" x="10%">dynamique avec JS</tspan>

            </text>

            <image xlink:href="https://zestedesavoir.com/media//galleries/1052/45de0697-b9f6-4418-bca7-777e542f62e1.png" x="29%" y="225px" height="75px" width="75px"/>
        </a>
        <a xlink:href="https://zestedesavoir.com/tutoriels/622/rendre-son-site-responsive-avec-css3/">
            <rect height="75px" width="35%" color="green" fill-opacity="0.5" fill="red" y="325px">

            </rect>
            <text x="12%" y="350px" text-anchor="middle" alignment-baseline="middle">Les websocket avec Tornado</text>
            <image xlink:href="https://zestedesavoir.com/media//galleries/511/c936b4a6-3ee6-4dc4-91be-a68e5d5f69b6.jpg" x="29%" y="325px" height="75px" width="75px"/>
        </a>

        <a xlink:href="https://zestedesavoir.com/tutoriels/622/rendre-son-site-responsive-avec-css3/">
            <rect height="75px" width="35%" color="green" fill-opacity="0.5" fill="red" y="325px" x="50%">

            </rect>
            <text x="62%" y="350px" text-anchor="middle" alignment-baseline="middle">Python et asyncio</text>
            <image xlink:href="https://zestedesavoir.com/media//galleries/511/c936b4a6-3ee6-4dc4-91be-a68e5d5f69b6.jpg" x="79%" y="325px" height="75px" width="75px"/>
        </a>
        <a xlink:href="https://zestedesavoir.com/tutoriels/622/rendre-son-site-responsive-avec-css3/">
            <rect height="75px" width="35%" color="green" fill-opacity="0.5" fill="green" y="25px" x="50%">

            </rect>
            <text x="65%" y="50px" text-anchor="middle" alignment-baseline="middle" max-width="75px" >Ajouter de la vidéo et du son</text>
            <image xlink:href="https://zestedesavoir.com/media//galleries/1599/3a0af0f4-312c-4c54-835b-66c04c745ac8.png" x="79%" y="25px" height="75px" width="75px"/>
        </a>
        <g>
            <rect height="25px" width="50px" color="green" fill-opacity="0.5" fill="green" y="90%">

            </rect>
            <text y="92%" x="55px">Plutôt facile</text>
            <rect height="25px" width="50px" color="green" fill-opacity="0.5" fill="orange" y="90%" x="220px">

            </rect>
            <text y="92%" x="275px">Nécessite quelques efforts</text>
            <rect height="25px" width="50px" color="green" fill-opacity="0.5" fill="red" y="90%" x="500px">

            </rect>
            <text y="92%" x="555px">Avancé</text>
        </g>
    </svg>
    <h3>Créer un site web avec ASP.NET</h3>
    <svg xmlns:svg="http://www.w3.org/2000/svg"
         xmlns="http://www.w3.org/2000/svg"
         xmlns:xlink="http://www.w3.org/1999/xlink"
         width="100%" height="800px">


        <line x1="10" y1="0" x2="10" y2="400"/>
        <a xlink:href="https://zestedesavoir.com/tutoriels/622/rendre-son-site-responsive-avec-css3/">
            <rect height="75px" width="35%" color="green" fill-opacity="0.5" fill="green" y="25px">

            </rect>
            <text x="12%" y="50px" text-anchor="middle" alignment-baseline="middle" max-width="75px" >Créer un site responsive</text>
            <image xlink:href="https://zestedesavoir.com/media//galleries/511/c936b4a6-3ee6-4dc4-91be-a68e5d5f69b6.jpg" x="29%" y="25px" height="75px" width="75px"/>
        </a>
        <a xlink:href="https://zestedesavoir.com/tutoriels/622/rendre-son-site-responsive-avec-css3/">
            <rect height="75px" width="35%" color="green" fill-opacity="0.5" fill="green" y="125px">

            </rect>
            <text x="12%" y="150px" text-anchor="middle" alignment-baseline="middle">Créer un site avec ASP.NET</text>
            <image xlink:href="https://zestedesavoir.com/media//galleries/305/ed13b8b3-1b2e-481e-8417-d02a943abd19.png" x="29%" y="125px" height="75px" width="75px"/>
        </a>
        <a xlink:href="https://zestedesavoir.com/tutoriels/622/rendre-son-site-responsive-avec-css3/">

            <rect height="75px" width="35%" color="green" fill-opacity="0.5" fill="orange" y="225px">

            </rect>
            <text x="12%" y="250px" text-anchor="middle" alignment-baseline="middle">Rendez votre site web
                <tspan dy="1em" x="12%">dynamique avec JS</tspan>

            </text>

            <image xlink:href="https://zestedesavoir.com/media//galleries/1052/45de0697-b9f6-4418-bca7-777e542f62e1.png" x="29%" y="225px" height="75px" width="75px"/>
        </a>


        <a xlink:href="https://zestedesavoir.com/tutoriels/622/rendre-son-site-responsive-avec-css3/">
            <rect height="75px" width="35%" color="green" fill-opacity="0.5" fill="green" y="25px" x="50%">

            </rect>
            <text x="65%" y="50px" text-anchor="middle" alignment-baseline="middle" max-width="75px" >Ajouter de la vidéo et du son</text>
            <image xlink:href="https://zestedesavoir.com/media//galleries/1599/3a0af0f4-312c-4c54-835b-66c04c745ac8.png" x="79%" y="25px" height="75px" width="75px"/>
        </a>

    </svg>
    <h3>Créer un site web avec JEE</h3>
    <svg xmlns:svg="http://www.w3.org/2000/svg"
         xmlns="http://www.w3.org/2000/svg"
         xmlns:xlink="http://www.w3.org/1999/xlink"
         width="100%" height="800px">


        <line x1="10" y1="0" x2="10" y2="400"/>
        <a xlink:href="https://zestedesavoir.com/tutoriels/622/rendre-son-site-responsive-avec-css3/">
            <rect height="75px" width="35%" color="green" fill-opacity="0.5" fill="green" y="25px">

            </rect>
            <text x="12%" y="50px" text-anchor="middle" alignment-baseline="middle" max-width="75px" >Créer un site responsive</text>
            <image xlink:href="https://zestedesavoir.com/media//galleries/511/c936b4a6-3ee6-4dc4-91be-a68e5d5f69b6.jpg" x="29%" y="25px" height="75px" width="75px"/>
        </a>
        <a xlink:href="https://zestedesavoir.com/tutoriels/622/rendre-son-site-responsive-avec-css3/">
            <rect height="75px" width="35%" color="green" fill-opacity="0.5" fill="green" y="125px">

            </rect>
            <text x="12%" y="150px" text-anchor="middle" alignment-baseline="middle">Apprenez le Java</text>
            <image xlink:href="https://zestedesavoir.com/media//galleries/305/ed13b8b3-1b2e-481e-8417-d02a943abd19.png" x="29%" y="125px" height="75px" width="75px"/>
        </a>
        <a xlink:href="https://zestedesavoir.com/tutoriels/622/rendre-son-site-responsive-avec-css3/">
            <rect height="75px" width="35%" color="green" fill-opacity="0.5" fill="red" y="325px">

            </rect>
            <text x="12%" y="350px" text-anchor="middle" alignment-baseline="middle">JEE pour le web</text>
            <image xlink:href="https://zestedesavoir.com/media//galleries/511/c936b4a6-3ee6-4dc4-91be-a68e5d5f69b6.jpg" x="29%" y="325px" height="75px" width="75px"/>
        </a>
        <a xlink:href="https://zestedesavoir.com/tutoriels/622/rendre-son-site-responsive-avec-css3/">

            <rect height="75px" width="35%" color="green" fill-opacity="0.5" fill="orange" y="225px">

            </rect>
            <text x="12%" y="250px" text-anchor="middle" alignment-baseline="middle">Rendez votre site web
                <tspan dy="1em" x="12%">dynamique avec JS</tspan>

            </text>

            <image xlink:href="https://zestedesavoir.com/media//galleries/1052/45de0697-b9f6-4418-bca7-777e542f62e1.png" x="29%" y="225px" height="75px" width="75px"/>
        </a>



        <a xlink:href="https://zestedesavoir.com/tutoriels/622/rendre-son-site-responsive-avec-css3/">
            <rect height="75px" width="35%" color="green" fill-opacity="0.5" fill="green" y="25px" x="50%">

            </rect>
            <text x="65%" y="50px" text-anchor="middle" alignment-baseline="middle" max-width="75px" >Ajouter de la vidéo et du son</text>
            <image xlink:href="https://zestedesavoir.com/media//galleries/1599/3a0af0f4-312c-4c54-835b-66c04c745ac8.png" x="79%" y="25px" height="75px" width="75px"/>
        </a>
    </svg>
    </article>
{% endblock %}
