{% load emarkdown %}
{% load i18n %}

{# this template will be used to generate the HTML file for each container ! #}


{% if container.introduction %}
    {{ container.get_introduction|emarkdown:is_js }}
{% endif %}

{% if container.children|length != 0 %}
    <ul>
        {% for extract in container.children %}
            <li>
                <a href="#{{ extract.position_in_parent }}-{{ extract.slug }}">
                    {{ extract.title }}
                </a>
            </li>
        {% endfor %}
    </ul>
{% endif %}

{% for extract in container.children %}
    <h2 id="{{ extract.position_in_parent }}-{{ extract.slug }}">
        <a href="#{{ extract.position_in_parent }}-{{ extract.slug }}">
            {{ extract.title }}
        </a>
    </h2>
    {% if extract.text %}
        <div class="extract-wrapper {% if extract.is_quizz %}quizz{% endif %}" data-quizz-validate="{% trans 'Valider le Quizz' %}"
             data-heading-level="h3" data-answer-url="{% url 'content:answer-quizz' content.pk content.slug %}">
            {{ extract.get_text|emarkdown:is_js }}
        </div>
    {% endif %}
{% endfor %}

<hr />

{% if container.conclusion %}
    {{ container.get_conclusion|emarkdown:is_js }}
{% endif %}
